@charset "utf-8";
html,body{height: 100%;}
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style-type: none;}
a:link,a:visited{text-decoration: none; color: #1e1e1e;}
.clearfix::after{
    content: ""; display: block; clear: both;
}
img{display: block;}


body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.menuFont{
    font-size: 20px;
    font-weight: 700;
}

.container{
    width: 1280px;
    margin: 0 auto;
    position: relative;
}


/* 헤더 */

.hd{
    padding: 20px 0; background: white; 
    width: 100%;z-index: 9999; position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    top: 0;
}

.hd .navWrap{height: 35px;}

.hd h1{
    width: 165px; height: 35px;
    float: left; 
}

.hd h1 img{width: 100%;}
.hd .gnb {float: right; }
.hd .gnb li{float: left; width: 170px;}
.hd .gnb li a{
    display: block; line-height: 35px;
    text-align: center;
    
}


/* 슬라이드 */


.slideWrap{height: 900px; margin-top: 72px;}
.slideWrap .sItem{
    
    height: 100vh; 
    /* height: 400px; */
    /* 화면에 꽉 채움 */
   /* min-height: 400px;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: #000;*/ 
}


.txtWrap{
    margin: 0 auto;
    
    /* background: skyblue; */
}

.twrap{
    height: 260px;
    width: 456px;
    /* display: block; */
    color: white;
    /* background: skyblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc( 456px / 2);
}

.bigWrap{
    height: 1820px;
    width: 1280px;
    padding: 160px 30px;
    margin-top: 30px;
}

.bigWrap1{
    margin-bottom: 50px;
}

.bigWrap2{
    height: 124px;
    width: 1216px;
    padding: 0 0 20px 0 ;
    font-size: 44px;
    font-weight: 700;
    letter-spacing: -2px;
    line-height: 62px;
    text-align: left;
}

.bigWrap3{
    height: 56px;
    /* padding: 0 0 0 624px; */
    float: right;

}

/* aWrap */

.aWrap{
    height: 580px;
    width: 1216px;
    margin-bottom: 25px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.aWrap1{
    float: left;
    width: calc( ( 100% - 50px) / 3 );
    margin-right: 25px;
    /* position: relative; */
}

.aWrap1:last-child{
    margin-right: 0;
}

.aWrap img{
    /* display: block; */
    width: 100%;
}

.aWrap2{
    width: 100%;
    height: 86px;
    background: #fff;
    padding: 20px, 16px, 0, 16px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000; */
    /* position: absolute; */
}



/* bWrap */

.bWrap{
    height: 462px;
    width: 1216px;
    position: relative;
    margin-top: 160px;
}

.bWrap1{
    background: #ffd44a;
    height: 338px;
    width: 1114px;
    position: absolute;
    padding: 102px 520px 102px 104px;
}

.bWrap_1{
    font-size: 26px;
}
.bWrap_2{
    font-size: 15px;
    margin-top: 24px;
}

.bWrap2 img{
    height: 360px;
    width: 592px;
    position: absolute;
    right: 0;
    top: 102px;
    /* bottom: 0; */
}

/* CWrap */

.cWrap{
    width: 100%;
    background: #f7f8f9;
    height: 965px;
}

.cWrap1{
    background: gold;
    
}


/* dWrap */

.dWrap{
    width: 100%;
    background: #171717;
    height: 292px;
}

.dWrap1{
    height: 164px;
    padding: 20px, 0;
    border: 1px solid white;
    margin-bottom: 0;
}