@charset "utf-8";
html,body{height: 100%;}
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style-type: none;}
a:link,a:visited{text-decoration: none; color: #1e1e1e;}
.clearfix::after{
    content: ""; display: block; clear: both;
}
img{display: block;}


body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

.menuFont{
    font-size: 20px;
    font-weight: 700;
}

.container{
    width: 1280px;
    margin: 0 auto;
    position: relative;
}


/* 헤더 */

.hd{
    padding: 20px 0; background: white; 
    width: 100%;z-index: 9999; position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    top: 0;
}

.hd .navWrap{height: 35px;}

.hd h1{
    width: 165px; height: 35px;
    float: left; 
}

.hd h1 img{width: 100%;}
.hd .gnb {float: right; }
.hd .gnb li{float: left; width: 170px;}
.hd .gnb li a{
    display: block; line-height: 35px;
    text-align: center;
    
}


/* 슬라이드 */


.slideWrap{height: 900px; margin-top: 72px;}
.slideWrap .sItem{
    
    height: 100vh; 
    /* height: 400px; */
    /* 화면에 꽉 채움 */
   /* min-height: 400px;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: #000;*/ 
}


.txtWrap{
    margin: 0 auto;
    
    /* background: skyblue; */
}

.twrap{
    height: 260px;
    width: 456px;
    /* display: block; */
    color: white;
    /* background: skyblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: calc( 456px / 2);
}


/* 섹션첫번째 */

.content{
    padding: 80px;
    height: 300px; 
    margin-top: 35px;
    /* background: skyblue; */
}

.conWrap1{
    float: left;
    font-size: 44px;
    letter-spacing: -0.8px;
    width: 100%
}
.conWrap2{
    float: right;
    margin-bottom: 100px;
    /* width: 100%; */
}

/* 섹션두번째 */

.jobWrap{
    margin-bottom: 25px;
}

.jobWrap div.jobItem{
    float: left;
    width: calc( ( 100% - 50px ) / 3 );
    margin-right: 25px;
}

.jobWrap div.jobItem:last-child{
    margin-right: 0;
}

.jobWrap img{
    display: block;
    width: 100%;
}

.jobWrap .tWrap{ 
    padding: 20px 15px;
    border: 1px solid #ddd;
    border-top: 0 none;
}
.jobWrap h3{
    margin-bottom: 8px;
}

.jobWrap p{color:#888}


/* 섹션 Awrap */

.Awrap{
    margin-top: 160px;
    background: white;
    width: 1280px;
    height: 462px;
    position: relative;
}

.Awrap1{
    background: #ffd442;
    height: 338px;
    width: 1114px;
}

.Awrap2{
    position: absolute;
    height: 360px;
    width: 592px;
    right: 0;
    display: block;
    bottom: 0;
}

/* 섹션Bwrap */
.Bwrap{
    width: 100%;
    background: #f7f8f9;
    height: 965px;
    padding: 162px;
    /* margin-top: ; */
}